SIENA_CP_REACTIONS_ENABLED=true
SIENA_CP_REACTION_PROVIDER=template
SIENA_CP_SIENA_CORE_ENABLED=false
SIENA_CP_SIENA_CORE_BASE_URL=http://127.0.0.1:8000
SIENA_CP_SIENA_CORE_API_TOKEN=
SIENA_CP_SIENA_CORE_CONNECT_TIMEOUT_SECONDS=2
SIENA_CP_SIENA_CORE_REQUEST_TIMEOUT_SECONDS=45
SIENA_CP_SIENA_CORE_MAX_RETRIES=1
SIENA_CP_SIENA_CORE_FALLBACK_PROVIDER=template
SIENA_CP_SIENA_CORE_CIRCUIT_FAILURE_THRESHOLD=3
SIENA_CP_SIENA_CORE_CIRCUIT_RESET_SECONDS=30
SIENA_CP_SIENA_CORE_MAX_RESPONSE_CHARS=320
SIENA_CP_SIENA_CORE_MAX_EVENT_AGE_SECONDS=45
SIENA_CP_SIENA_CORE_RECENT_EVENTS_LIMIT=6
SIENA_CP_SIENA_CORE_RECENT_REACTIONS_LIMIT=5
SIENA_CORE_PLAYER_NAME=
SIENA_CP_SIENA_CORE_QUEUE_SIZE=50
SIENA_CP_SIENA_CORE_LANGUAGE=ru
SIENA_CP_SCENE_ENABLED=true
SIENA_CP_SCENE_EVENT_HISTORY_LIMIT=20
SIENA_CP_SCENE_HISTORY_LIMIT=50
SIENA_CP_SCENE_IDLE_GAP_SECONDS=30
SIENA_CP_SCENE_MAX_DURATION_SECONDS=180
SIENA_CP_SCENE_RECENT_EVENT_WINDOW_SECONDS=45
SIENA_CP_SCENE_MAX_REACTIONS=3
SIENA_CP_SCENE_MIN_REACTION_INTERVAL_SECONDS=15
SIENA_CP_SCENE_CRITICAL_BYPASS=true
SIENA_CP_SCENE_RESOLUTION_REACTION_ENABLED=true
SIENA_CP_SCENE_REACTION_STALE_GRACE_SECONDS=3
SIENA_CP_SCENE_RECENT_REACTIONS_LIMIT=5
SIENA_CP_VOICE_ENABLED=false
SIENA_CP_VOICE_MUTED=false
SIENA_CP_VOICE_MIN_INTERVAL_SECONDS=8
SIENA_CP_VOICE_SAME_TEXT_COOLDOWN_SECONDS=120
SIENA_CP_VOICE_SCENE_MAX_CLIPS=3
SIENA_CP_VOICE_CRITICAL_BYPASS=true
SIENA_CP_VOICE_MAX_TEXT_CHARS=240
SIENA_CP_VOICE_MAX_EVENT_AGE_SECONDS=30
SIENA_CP_VOICE_QUEUE_SIZE=20
SIENA_CP_VOICE_CLIP_HISTORY_LIMIT=100
SIENA_CP_VOICE_AUDIO_TTL_SECONDS=300
SIENA_CP_VOICE_POST_PLAY_GAP_MS=250
SIENA_CP_VOICE_LANGUAGE=ru
SIENA_CP_VOICE_SPEAKER=
SIENA_CP_VOICE_VOLUME=0.85
SIENA_CP_VOICE_REQUIRE_TTS_READY=true
SIENA_CP_VOICE_INTERRUPT_MODE=critical_only
SIENA_CP_TTS_BASE_URL=
SIENA_CP_TTS_API_TOKEN=
SIENA_CP_TTS_CONNECT_TIMEOUT_SECONDS=2
SIENA_CP_TTS_REQUEST_TIMEOUT_SECONDS=60
SIENA_CP_TTS_MAX_RETRIES=1
SIENA_CP_TTS_MAX_AUDIO_BYTES=15000000
SIENA_CP_TTS_CIRCUIT_FAILURE_THRESHOLD=3
SIENA_CP_TTS_CIRCUIT_RESET_SECONDS=30
SIENA_CP_PRESENCE_ENABLED=false
SIENA_CP_PRESENCE_POLL_INTERVAL_MS=500
SIENA_CP_PRESENCE_HTTP_TIMEOUT_MS=1000
SIENA_CP_PRESENCE_GENERATING_DELAY_MS=400
SIENA_CP_PRESENCE_NORMAL_DURATION_MS=8000
SIENA_CP_PRESENCE_HIGH_DURATION_MS=10000
SIENA_CP_PRESENCE_CRITICAL_DURATION_MS=14000
SIENA_CP_PRESENCE_FALLBACK_DURATION_MS=7000
SIENA_CP_PRESENCE_FADE_IN_MS=180
SIENA_CP_PRESENCE_FADE_OUT_MS=450
SIENA_CP_PRESENCE_MAX_TEXT_CHARS=320
SIENA_CP_PRESENCE_ERROR_BACKOFF_MS=2000
SIENA_CP_PRESENCE_MAX_BACKOFF_MS=30000
